/* font-family: 'Eczar', serif;
font-family: 'Astloch', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Amarante', cursive;
font-family: 'Srisakdi', cursive; */

/* MOBILE =================================================*/

/*TABLET PORTRAIT==========================================*/
/* @media (min-width: 640px) and (max-width: 1024px){

}

/*TABLET LANDSCAPE ========================================*/ 
/* @media (max-width: 1024px) and (min-width: 960px) and (max-height: 768px) and (min-height: 692px){

} */ 

/* Desktop ==================================================================================================*/
/* @media (min-width: 1024px) {

} */

/* Desktop XL =======================================================================================================*/
/* @media (min-width: 1400px) {

} */

/* universal tag styles */

body{
    background-image: linear-gradient(#f4080b 5%, 20%, #00b4ff 100%);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 4rem;
}

a:hover{
    color: #90ff00;
}

/* ========================================================================================================> */

.outerWrapper{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
}

.title{
    background-image: url("./images/suns_traced_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15em;
    height: 5rem;
    margin-top:.5rem;
    transition: all .5s;
}

.title:hover{
    background-image: url(./images/suns_traced_ALT.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.main{
    display: flex;
    height: 85vh;
}

.menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 100%;
}

.aboutButton{
    font-family: 'Eczar', serif;
    font-size: 24px;
    color: #90ff00;
    border: none;
    outline: none;
    background-image: linear-gradient(#00b4ff 10%,#f4080b);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.homeButton{
    font-family: 'Amarante', cursive;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #90ff00;
    outline: none;
    position: relative;
    cursor: pointer;
    transition: filter 1s;
}

.homeButton:hover{
    filter: hue-rotate(3.5rad);
}

.sonarWave {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #90ff00;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: -.25vh;
    left: -.1vw;
    z-index: 1;
    }
    
    .sonarWave {
    animation: sonarWave 2s linear infinite;
    }
    
    @keyframes sonarWave {
    from {
        opacity: .9;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
    }
    
    @keyframes sonarWave {
    from {
        opacity: .9;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
    }

.projectsButton{
    font-family: 'Eczar', serif;
    font-size: 24px;
    color: #90ff00;
    border: none;
    outline: none;
    background-image: linear-gradient(#f4080b, #00b4ff 90%);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}


.contentContainerBackground{
    background-image: url(./images/creature_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 58vh;
    width: 60vw;
    position: absolute;
    margin: 10vh auto;
    z-index: -1;
    left: 51vw;
    opacity: 1;
    filter: blur(0);
}


.contentContainer{
    display: flex;
    width: 60vw;
    height: 0px;
    background: inherit;
    opacity: .9;
    margin: 7vh auto;
    text-align: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    overflow: scroll;
}

.contentContainer::-webkit-scrollbar{
    width: .2em;
    outline: none;
    background: none;
}

.contentContainer::-webkit-scrollbar-thumb{
  background-color: #f4080b;
  outline: none;
  margin: .2em;
}

.contentContainer::-webkit-scrollbar-corner{
    display: none;
}

.aboutText{
    font-family: 'Eczar', serif;
    color: white;
    font-size: 16px;
    padding: 2rem;
    text-align: center;
    opacity: 0;
}

.projectContainer{
    font-family: 'Eczar', serif;
    color: white;
    font-size: 16px;
    padding: 0 2rem;
    opacity: 0;
}

.projectContainer h1{
    font-size: 28px;
    color: #00b4ff;
    margin: .5rem auto;
}

.projectContainer h3{
    font-size: 24px;
    color: #00b4ff;
    margin: 0 auto;
    margin-top: .5rem;
}

.projectContainer p{
    margin: 0 auto;
}

.projectContainer a{
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact{
    width: 15rem;
    height: 5rem; 
    margin-top: 1rem;
    background-image: url("./images/shrooms_traced_green.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s;
}

.contact:hover{
    background-image: url(./images/shrooms_traced_ALT.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
