/* fonts that may be used... */
/* font-family: 'Eczar', serif;
font-family: 'Astloch', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Amarante', cursive; 
font-family: 'Vollkorn', serif;*/

/* mobile========================================================================= */
/* @media screen and (max-width: 599px){ */
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body{
    background-image: linear-gradient(#f4080b 12%, 30%, #00b4ff 100%);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    display: block;
}

button:focus {
    outline:none;
    outline-style: none;
    box-shadow: none;
    }

button:active {
    outline:none;
}

/* shared/mobile=============================================== */

.outerWrapper{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden
}

.menuWrapper{
    height: 350px;
    width: 350px;
    clip-path: circle(175px at center);
    text-align: center;
    margin-top: 0;
    background-image: linear-gradient(#f4080b 12%, 30%, #00b4ff 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu{
    width: 100%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
}

.header p{
    font-family: 'Vollkorn', serif;
    font-size: 26px;
    color: white;
    margin: 0 auto;
}

.main{
    display: flex;
    width: 110%;
    flex-direction: row; 
    justify-content: center;
    outline: .5px solid #90ff00;
    margin-top: 1px;
}

.main p{
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    color: white;
}

.projects{
    border-right: .5px solid #90ff00;
    padding-right: 10%;
    width: 90px;
}

.about{
    padding-left: 10%;
    width: 90px;
}

.contactLinks{
    display: flex;
    width: 110%;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid #90ff00;
    text-align: center;
}

.contactLinks p{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    color: white;
}

.gitHub{
    border-right: 1px solid #90ff00;
    padding-right: 5%;
    width: fit-content;
    text-align: center;
}

.linkedin{
    border-right: 1px solid #90ff00;
    padding: 0 5% 0 5%;
    width: fit-content;
}

.resume{
    padding-left: 5%;
    width: fit-content;
}

.contactInfo{
    width: 100%;
    margin-top: 1.5rem;
}

.contactInfo p{
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    color: #71079b;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* modal styles=========================================== */
.modalBackdrop {
    width: 100vw;
    height: 100vh;
    background-color: #7a5e85;
    position: fixed;
    z-index: 100;
    margin: 0;
    opacity: 0.6;
    display: none;
}

.modal {
    box-sizing: border-box;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background: #00b4ff;
    padding: 20px;
    text-align: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: none;
}

.modal::-webkit-scrollbar{
    width: .2em;
    outline: none;
    background: none;
}

.modal::-webkit-scrollbar-thumb{
background-color: #90ff00;
outline: none;
margin: .2em;
}

.modal::-webkit-scrollbar-corner{
    display: none;
}

/* 'about' modal======================================================================= */

.aboutHeader{
    border-bottom: solid 2px #90ff00;
    padding: 1rem;
    margin: 1rem 0;
}

.imgContainer{
    width: 150px;
    height: 150px;
    clip-path: circle(75px at center);
    margin: 0 auto;
    margin-bottom: 1rem;
}

.aboutHeader img{
    width: 100%;
}

.aboutHeader h3{
    font-family: 'Vollkorn', serif;
    color: white;
}

.aboutHeader p{
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    color: #90ff00;
}

.aboutTechContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.aboutTechContainer h2{
    margin: .5rem auto;
    display: block;
    font-size: 24px;
    color: white;
    font-family: 'Vollkorn', serif;
}

.aboutTechContainer h3{
    margin: .5rem auto;
    display: block;
    font-size: 24px;
    color: #71079b;
    font-family: 'Vollkorn', serif;
}

.aboutTechContainer i{
    font-size: 32px;
    margin: 1rem;
}

.aboutTechContainer p{
    font-size: 18px;
}

.techIcon{
    margin: 5px;
    width: auto;
}

.frontEnd{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #90ff00;
    width: 80%;
    margin: 0 auto;
}

.backEnd{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: baseline;
    color: #90ff00;
    margin: 0 auto;
}

.serverDb{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    color: #90ff00;
}

.etAl{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #90ff00;
    width: 80%;
    margin: 0 auto;
}

/* 'projects' modal==================================================================== */

.elgContainer{
    border-bottom: solid 2px #90ff00;
    padding: 1rem;
    margin: 1rem 0;
}

.elgLogo{
    width: 70%;
    padding: .75rem;
}

.elgCap{
    width: 90%;
    padding: .75rem;
}

.emOceansContainer{
    border-bottom: solid 2px #90ff00;
    padding: 1rem;
    margin: 1rem 0;
}

.emOceansLogo{
    width: 55%;
    padding: .75rem;
}

.emOceansCap{
    width: 90%;
    padding: .75rem;

}

.pithosContainer{
    border-bottom: solid 2px #90ff00;
    padding: 1rem;
    margin: 1rem 0;
}

.pithosLogo{
    width: 35%;
    padding: .75rem;
}

.pithosCap{
    width: 90%;
    padding: .75rem;
}

.projectLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectLinks a{
    font-size: 24px;
    color: #90ff00;
    font-family: 'Vollkorn', serif;
}

.projectsContainer h3{
    font-size: 24px;
    color: white;
    font-family: 'Vollkorn', serif;
    margin: 16px auto 12px auto;
}

.projectsContainer p{
    font-size: 18px;
    color: #90ff00;
    font-family: 'Vollkorn', serif;
}

/* tablet====================================================== */
@media screen and (min-width: 600px) and (max-width: 899px) { 
    .menuWrapper{
        height: 600px;
        width: 600px;
        clip-path: circle(300px at center);
    }

    .header{
        margin-bottom: 2rem;
    }

    .header p{
        font-size: 48px;
    }

    .main p{
        font-size: 40px;
    }

    .projects{
        padding-right: 10%;
        border-right: #90ff00 solid 1px;
        width: 180px;
    }

    .about{
        padding-left: 10%;
        width: 180px;
    }

    .contactLinks p{
        font-size: 30px;
    }

    .gitHub{
        width: 120px;
    }

    .linkedin{
        width: 120px;
    }

    .resume{
        width: 120px;
    }

    .contactInfo{
        margin-top: 3rem;
    }

    .contactInfo p{
        font-family: 'Special Elite', cursive;
        font-size: 26px;
        color: #71079b;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    /* 'about' modal======================================================================= */

    .aboutHeader{
        margin: 1rem 0 2rem 0;
    }

    .imgContainer{
        width: 200px;
        height: 200px;
        clip-path: circle(100px at center);
    }

    .aboutHeader h3{
        font-size: 34px;
    }
    
    .aboutHeader p{
        font-size: 30px;
    }

    .aboutTechContainer h2{
        font-size: 34px;
    }

    .aboutTechContainer h3{
        font-size: 28px;
    }

    .aboutTechContainer i{
        font-size: 44px;
    }

    .aboutTechContainer p{
        font-size: 20px;
    }

    .techIcon{
        margin: 5px;
        width: auto;
    }

    .frontEnd{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #90ff00;
        width: 80%;
        margin: 0 auto;
    }

    .backEnd{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: baseline;
        color: #90ff00;
        margin: 0 auto;
    }

    .serverDb{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        color: #90ff00;
    }

    .etAl{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #90ff00;
        width: 80%;
        margin: 0 auto;
    }

    /* 'projects' modal==================================================================== */

    .elgLogo{
        width: 50%;
    }

    .emOceansLogo{
        width: 45%;
        padding: .75rem;
    }

    .pithosLogo{
        width: 25%;
    }
    
    .pithosCap{
        width: 90%;
        padding: .75rem;
    }
    
    .projectLinks{
        margin: 1rem auto;
    }
    
    .projectLinks a{
        font-size: 36px;
        border-bottom: #71079b 2px solid;
        width: fit-content;
    }
    
    .projectsContainer h3{
        font-size: 36px;
    }
    
    .projectsContainer p{
        font-size: 28px;
    }

}

/* desktop_reg================================================== */
@media screen and (min-width: 1024px){

    .menuWrapper{
        height: 500px;
        width: 500px;
        clip-path: circle(250px at center);
    }

    .header{
        margin-bottom: 1rem;
    }

    .header p{
        font-size: 40px;
    }

    .main p{
        font-size: 34px;
    }

    .main p:hover{
        color: #90ff00;
        cursor: pointer;
    }

    .projects{
        padding-right: 8%;
        border-right: #90ff00 solid 1px;
        width: 150px;
    }

    .about{
        padding-left: 8%;
        width: 150px;
    }

    .contactLinks p{
        font-size: 28px;
    }

    .contactLinks p:hover{
        color: #90ff00;
        cursor: pointer;
    }

    .gitHub{
        width: 100px;
    }

    .linkedin{
        width: 100px;
    }

    .resume{
        width: 100px;
    }

    .contactInfo{
        margin-top: 2rem;
    }

    .contactInfo p{
        font-size: 18px;
    }

    /* modal================================================================== */
    .modal {
        width: 70vw;
        height: 90vh;
    }
    /* 'about' modal======================================================================= */

    .aboutHeader{
        margin: 1rem 0 2rem 0;
    }

    .imgContainer{
        width: 150px;
        height: 150px;
        clip-path: circle(75px at center);
    }

    .aboutHeader h3{
        font-size: 24px;
    }
    
    .aboutHeader p{
        font-size: 20px;
    }

    .aboutTechContainer h2{
        font-size: 24px;
    }

    .aboutTechContainer h3{
        font-size: 22px;
    }

    .aboutTechContainer i{
        font-size: 44px;
    }

    .aboutTechContainer p{
        font-size: 18px;
    }

    /* 'projects' modal==================================================================== */

    .elgLogo{
        width: 25%;
    }

    .elgCap{
        width: 70%;
    }

    .emOceansLogo{
        width: 25%;
    }

    .emOceansCap{
        width: 70%;
    }

    .pithosLogo{
        width: 15%;
    }

    .pithosCap{
        width: 70%;
    }

    .projectLinks{
        margin: 1rem auto;
    }
    
    .projectLinks a{
        font-size: 28px;
        border-bottom: #71079b 2px solid;
        width: fit-content;
    }
    
    .projectsContainer h3{
        font-size: 28px;
    }
    
    .projectsContainer p{
        font-size: 20px;
    }
}
