/* fonts that may be used... */
/* font-family: 'Eczar', serif;
font-family: 'Astloch', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Amarante', cursive; */

/* mobile========================================================================= */
body{
    background-image: linear-gradient(#f4080b 5%, 15%, #00b4ff 100%);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    display: block;
}

.outerWrapper{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;  
    height: 10vh;
}

.title{
    background-image: url("./images/suns_traced_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15em;
    height: 5rem;
    margin-top:.5rem;
}

.main{
    display: flex;
    height: 80vh;
    margin: auto auto;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transition: all 1s linear;
}

.menuFlip{
    transform: rotate(180deg);
}

.menuReverseFlip{
    transform: rotate(-180deg);
}

.aboutButton{
    font-family: 'Eczar', serif;
    font-size: 28px;
    color: #90ff00;
    border: none;
    outline: none;
    background-image: linear-gradient(#00b4ff 10%,#f4080b);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.homeButton{
    font-family: 'Amarante', cursive;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #90ff00;
    background-image: url(./images/red-sun.png);
    outline: none;
    position: relative;
    cursor: pointer;
    transition: all 1s linear;
}

/* .home-rotate{
    transform: rotate(180deg);
} */

.sonarWave {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #90ff00;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: -.25vh;
    left: -.1vw;
    z-index: 1;
    }
    
.sonarWave {
    animation: sonarWave 3s linear infinite;
}
        
@keyframes sonarWave {
    from {
        opacity: .5;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.projectsButton{
    font-family: 'Eczar', serif;
    font-size: 28px;
    color: #90ff00;
    border: none;
    outline: none;
    background-image: linear-gradient(#00b4ff 10%,#f4080b);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transform:rotate(-180deg);
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10vh;
}

.contact{
    background-image: url("./images/shrooms_traced_green.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15em;
    height: 5rem;
}

/* modal styles=========================================== */

.fade-in-back {
	opacity: 0.6;
	animation-name: fadeInOpacityBack;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
}

.fade-out-back {
	opacity: 0;
	animation-name: fadeOutOpacityBack;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
}

.fade-in-modal {
	opacity: 1;
	animation-name: fadeInOpacityModal;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
}

.fade-out-modal {
    opacity: 0;
	animation-name: fadeOutOpacityModal;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
}

@keyframes fadeInOpacityModal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacityBack {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0.6;
	}
}

@keyframes fadeOutOpacityModal {
    0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@keyframes fadeOutOpacityBack {
    0% {
		opacity: 0.6;
    }
    
	100% {
		opacity: 0;
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: #7a5e85;
    position: fixed;
    z-index: 100;
    margin: 0;
    opacity: 0.6;
    display: none;
}

.modal-1 {
    box-sizing: border-box;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    background: #00b4ff;
    opacity: .90;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Eczar', serif;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

/*TABLET PORTRAIT==========================================*/
/* @media (min-width: 640px) and (max-width: 1024px){

}

/*TABLET LANDSCAPE ===============================================*/ 
/* @media (max-width: 1024px) and (min-width: 960px) and (max-height: 768px) and (min-height: 692px){

} */ 

/* Desktop =======================================================*/
/* @media (min-width: 1024px){} */
